{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}
{% block content %}
<div class="container">
    <h1>Edit Product</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ product.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control"
                required>{{ product.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" class="form-control" value="{{ " {:,}".format(product.price)
                }}" required min="0" step="0.01">
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <div class="fallback"
                style="border: 2px dashed #0087F7; padding: 20px; text-align: center; margin-bottom: 20px;">
                <input type="file" name="image" id="image" class="form-control" />
                Drag and drop your image here or click to select a file.
            </div>
        </div>
        <div class="form-group">
            <label for="contact_details">Contact Details:</label>
            <input type="text" id="contact_details" name="contact_details" class="form-control"
                value="{{ product.contact_details }}" required>
        </div>
        <div class="form-multi-select">
            <strong>Tags:</strong>
            <select name="tags[]" id="tags" class="form-control" multiple="multiple">
                {% for tag in all_tags %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="mark_as_sell" name="mark_as_sell" {% if
                product.mark_as_sell %}checked{% endif %}>
            <label class="form-check-label" for="mark_as_sell">Mark as SOLD!</label>
        </div>
        <br>
        <button type="button" onclick="history.back()" class="btn btn-secondary">Back</button>
        <input type="submit" value="Update Product" class="btn btn-primary">
    </form>
</div>

<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> -->
<script>
    $(document).ready(function () {
        $('#tags').select2({
            placeholder: "Select tags",
            allowClear: true
        });
    });
</script>
{% endblock %}
